{% extends 'layouts/common.html' %}

{% block content %}

    {% include 'organisms/hero-block.html' with tittle='Пользовательское Соглашение' %}

    <div class="container my-4" style="text-align: justify;">
        <p>Настоящее Пользовательское Соглашение (Далее Соглашение) регулирует отношения между ИП Голышев Евгений Константинович (далее Tutor in Tech или Администрация) с одной стороны и пользователем сайта с другой.</p>
        <p>Сайт Tutor in Tech не является средством массовой информации.</p>
        <p>Используя сайт, Вы соглашаетесь с условиями данного соглашения.</p>
        <p>Если Вы не согласны с условиями данного соглашения, не используйте сайт Tutor in Tech!</p>

        <h3>Права и обязанности сторон</h3>
        <p>Пользователь имеет право:</p>
        <ul>
            <li>осуществлять поиск информации на сайте</li>
            <li>получать информацию на сайте</li>
            <li>использовать информацию сайта в личных некоммерческих целях</li>
        </ul>

        <p>Администрация имеет право:</p>
        <ul>
            <li>по своему усмотрению и необходимости создавать, изменять, отменять правила</li>
            <li>ограничивать доступ к любой информации на сайте</li>
            <li>создавать, изменять, удалять информацию</li>
            <li>удалять учетные записи</li>
        </ul>

        <p>Ответственность сторон</p>
        <ul>
            <li>в случае возникновения форс-мажорной ситуации (боевые действия, чрезвычайное положение, стихийное бедствие и т. д.) Администрация не гарантирует сохранность информации, размещённой Пользователем, а также бесперебойную работу информационного ресурса</li>
        </ul>

        <h3>Условия действия Соглашения</h3>
        <p>Данное Соглашение вступает в силу при любом использовании данного сайта.</p>
        <p>Соглашение перестает действовать при появлении его новой версии.</p>
        <p>Администрация оставляет за собой право в одностороннем порядке изменять данное соглашение по своему усмотрению.</p>
        <p>Администрация не оповещает пользователей об изменении в Соглашении.</p>
    </div>
{% endblock %}
