<div id="header" class="mdk-header bg-dark js-mdk-header mb-0" data-effects="waterfall blend-background" data-fixed data-condenses>
    <div class="mdk-header__content">
        <div class="navbar navbar-expand-sm navbar-dark bg-dark pr-md-16pt" id="default-navbar" data-primary>
            <a href="/" class="navbar-brand">
                {% include 'atoms/logo.html' with class='navbar-brand-icon mr-0 mr-md-8pt' %}
            </a>

            <ul class="nav navbar-nav ml-auto flex-nowrap" style="white-space: nowrap;">
                <li class="d-flex nav-item">
                    {% include 'atoms/contact_us_btn.html' %}
                </li>
            </ul>
        </div>
    </div>
</div>
