<div id="header" class="mdk-header bg-dark js-mdk-header mb-0" data-effects="waterfall blend-background" data-fixed data-condenses>
    <div class="mdk-header__content">
        <div class="navbar navbar-expand-sm navbar-dark bg-dark pr-md-16pt" id="default-navbar" data-primary>
            <a href="/" class="navbar-brand">
                {% include 'atoms/logo.html' with class='navbar-brand-icon mr-0 mr-md-8pt' logo_icon='images/logo/white-100@2x.png' %}
            </a>

            <div class="navbar-nav ml-auto flex-nowrap" style="white-space: nowrap;">
                {% if user.is_authenticated %}
                    {% include 'atoms/user_dropdown.html' %}
                {% else %}
                    {% include 'atoms/auth_links.html' %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
