<div class="bg-white border-bottom-2 py-16pt py-sm-24pt py-md-32pt ">
    <div class="container page__container">
        <div class="row align-items-center">
            {% include 'atoms/value.html' with class='d-flex col-md align-items-center border-bottom border-md-0 mb-16pt mb-md-0 pb-16pt pb-md-0' icon='construction' title='Практика в каждом уроке' description='Используй только реальные инструменты в процессе обучения.' %}
            {% include 'atoms/value.html' with class='d-flex col-md align-items-center border-bottom border-md-0 mb-16pt mb-md-0 pb-16pt pb-md-0' icon='devices' title='Адаптивность' description='Учись дома на стационарном компьютере или в дороге со смартфона.' %}
            {% include 'atoms/value.html' with class='d-flex col-md align-items-center' icon='support_agent' title='Препобот' description='Опечатки в тексте уроков больше не заставят часами топтаться на месте. Препобот поможет с практикой.' %}
        </div>
    </div>
</div>
