{% load static %}

<div class="mdk-box mdk-box--bg-gradient-primary bg-dark js-mdk-box position-relative overflow-hidden mb-0" data-effects="parallax-background blend-background">
    <div class="mdk-box__bg">
        <div class="mdk-box__bg-front" style="background-image: url({% static 'images/1280_work-station-straight-on-view.jpg' %});"></div>
    </div>

    <div class="mdk-box__content">
        <div class="container page__container py-64pt py-md-112pt">
            <div class="row align-items-center text-center text-md-left">
                <div class="col-md-6 col-lg-5 order-1 order-md-0">
                    <h1 class="text-white">
                        Изучай
                        <span class="d-block d-md-inline-block text-scramble js-text-scramble">Ubuntu</span>
                    </h1>
                    <p class="lead mb-32pt mb-lg-48pt text-white">Business, Technology and Creative Skills taught by industry experts. Explore a wide range of skills with our professional tutorials.</p>
                    <button class="btn btn-lg btn-white btn--raised mb-16pt" onclick="document.getElementById('courses').scrollIntoView({behavior: 'smooth'})">К курсам</button>
                </div>
                <div class="col-md-6 col-lg-7 order-0 order-md-1 text-center mb-32pt mb-md-0">
                    <img src="{% static 'images/macbook.png' %}" alt="macbook" class="home-macbook">
                </div>
            </div>
        </div>
    </div>
</div>
